@keyframes start {
    from {background-size: 100%;}
    to {background-size: 150%;}
   
}
main {
    min-height: 120vh;
    padding: 10vh 0 10vh 0;
    background-attachment: fixed;
    background-image: url(/static/images/mapbg.jpg);
    background-size: 100%;
    background-position: center;
    animation: start 5s ease-in 1s infinite alternate-reverse forwards;
}
nav, 
#charts, 
footer {
    background-color: #1d1d1d;
    color: #cccccc;
}
nav {
    border-bottom: 2px solid grey;
}
footer {
    height: 10vh;
    border-top: 2px solid grey;
}
#charts {
    direction: ltr;
    text-align: right;
    min-height:80vh;
    width: 80vw;
    margin: 5vh 10vw;
    padding: 50px;
    opacity: 0.5;
    border-radius: 10px;
    border: 2px solid grey;
}
#charts td:first-child {
    direction: rtl;
}
.charts td {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #000;
}
#charts th {
    text-align: center;
}
#logo {
    width: 50px;
}
td.bigMinus {
    color: #ffffff;
    background-color: #cc0000;
}
td.smallMinus {
    color:#cc0000;
    background-color: #F9DCD3;
}
td.zeroValue {
    color: #ffffff;
    background-color: #1d1d1d;
}
td.bigPlus {
    background-color: #009900;
    color: #ffffff;
}
td.smallPlus {
    background-color: #CFFADB;
    color: #009900 ;
}